<% if trip.packages.any? %>
  <div class="trip-package-cards">
    <% trip.packages.each do |package| %>
      <div class="trip-package-card">
        <div class="trip-package-image">
          <%= button_to "Choose package", set_package_trip_package_path(trip, package), class: "card-simple-button", id:"choose-package-button"%>
          <% if package.photo.attached? %>
            <%= cl_image_tag(package.photo.key, alt: "AI-generated image", class:"card-simple-image") %>
          <% else %>
            <%= image_tag('trip_1.png', class:"card-simple-image") %>
          <% end %>
        </div>
        <div class="trip-package-details">
          <p><%= clean_and_format_description(package.description) %></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="spinner">
    <!-- Show your loading GIF or spinner -->
    <%= image_tag('plane_taking_off.gif') %>
    <h4>Generating authentic packages... Please wait!</h4>
  </div>
<% end %>
