<div class="container">
  <h1> Trip Inspo </h1>
  <h4> Looking for your next adventure? Explore some incredible getaways that other travelers have experienced!
    From relaxing beach escapes to thrilling mountain treks, these trips are sure to spark your wanderlust.
    Get inspired, discover new destinations, and start planning your own unforgettable journey today!
  </h4>

  <div class="cards">
    <% @trips.each do |trip| %>
      <div class="card-simple">
        <p> <%= "Trip date: #{trip.start_date} - #{trip.end_date} " %> </p>
        <p> <%= "Trip destination: #{trip.destination.name}" %> </p>
          <a class="card-trip-button">See more</a>
    <%end%>
          <% @trips.each do |trip| %>
            <%= cl_image_tag(trip.photo.key, height: 300, width: 400, crop: :fill) %>
          <% end %>
    <%= cl_image_tag(trip.photo.key, class:"card-simple-image")%>

    <div class="card-simple-text">
      <div>
        <h2><%= trip.destination.name %></h2>
        <p>Budget:<%= trip.budget %></p>
        <p>Dates: <%= "#{trip.start_date} - #{trip.end_date}" %></p>
      </div>
      <a class="card-simple-button" href="https://yannklein.dev/"> See more </a>
    </div>
  </div>

    <%end%>

  </div>

</div>
