<div class="container">
  <h1> Wanderlust awaits </h1>
  <h4>
    Ready for your next adventure? Dive into amazing travel experiences shared by fellow explorers! Whether you crave sun-soaked beaches, exhilarating hikes, or hidden gems off the beaten path, we’ve got the perfect inspiration for you. Discover new destinations, fuel your wanderlust, and start planning your dream trip today!
  </h4>
</div>
<div class="row p-3">
  <div class="col-5 trip-index">
    <!--<div class="">-->
    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip) do  %>
        <div class="card-simple m-2">
          <% if trip.photo.attached?  %>
            <%= cl_image_tag(trip.photo.key, class:"card-simple-image")%>
          <% else %>
            <%= image_tag("Italy.png", class:"card-simple-image") %>
          <% end %>
          <div class="card-simple-text">
            <h2><%= trip.destination.name %></h2>
            <div class= "card-simple-details">
            <div class="flex-details">
              <%= image_tag("money.png") %>
              <p>$<%= trip.budget %></p>
            </div>
            <div class="flex-details">
              <%= image_tag("dates.png") %>
              <p> <%= "#{trip.start_date.strftime(" %e %b %y")} - #{trip.end_date.strftime(" %e %b %y")}" %></p>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-7 map-card">
    <div class="map">
      <div style="width: 100%; height: 600px; border-radius: 15px"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
