<div class="container">
  <h1> Trip Inspo </h1>
  <h4> Looking for your next adventure? Explore some incredible getaways that other travelers have experienced!
    From relaxing beach escapes to thrilling mountain treks, these trips are sure to spark your wanderlust.
    Get inspired, discover new destinations, and start planning your own unforgettable journey today!
  </h4>
  <div class="cards">
    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip) do  %>
        <div class="card-simple">
          <% if trip.photo.attached?  %>
            <%= cl_image_tag(trip.photo.key, class:"card-simple-image")%>
          <% else %>
            <%= image_tag("Italy.png", class:"card-simple-image") %>
          <% end %>
          <div class="card-simple-text">
            <div>
              <h2><%= trip.destination.name %></h2>
              <p>Budget:<%= trip.budget %></p>
              <p>Dates: <%= "#{trip.start_date} - #{trip.end_date}" %></p>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
  </div>
</div>
