<!--FIRST GET TO CHOOSE PACKAGE-->
<!--UPDATE TRIP.PACKAGE TO ASSIGN THAT PACKAGE TO THIS TRIP-->
<div class="container">
  <h2><%= "Your trip budget is: $#{@trip.budget}" %></h2>
  <p><%= "Start date: #{@trip.start_date}" %></p>
  <p><%= "End date: #{@trip.end_date}" %></p>
  <p><%= "Trip destination: #{@trip.destination.name}" %></p>
</div>
<!--div class="container">
  <div class="card-stack">
    <%# has_packages = false %>-->
<%# @packages.each do |package| %>
  <%# if package.name.include?(@trip.destination.name) %>
  <%# has_packages = true %>
  <%#= link_to package_path(package), class: "card-stack-item", style: "background-image: url('#{cl_image_path(package.photos.first.key)}');" do %>
    <!--          <h2><%#= Package.humanized_categories[package.category.to_sym] %></h2>
          <p><%#= package.name %></p>
        <%# end %> <Closing link_to do-block -->
    <%# end %> <!-- Closing if statement -->
    <%# end %> <!-- Closing each loop -->
    <!---->
    <%# unless has_packages %>
    <!--      <p>There are no packages for your destination</p>-->
    <%# end %>
  </div>
</div>
<%= link_to "journal", trip_journals_path(@trip), class:"card-simple-button"  %>
<!--<p><%#= Trip.humanized_categories[@trip.category.to_sym] %></p>-->
<% if @trip.package %>
  <div class="d-flex justify-content-center">
    <h1> Your trip to <%= @trip.destination.name  %> begins 🛫 </h1>
  </div>
  <div class="d-flex justify-content-center">
    <p> You are going away for a magical <%= (@trip.end_date - @trip.start_date).to_i %> days </p>
  </div>
  <div class="cards">
    <div class="card-simple">
      <% if @trip.package.photo.attached? %>
        <%= cl_image_tag(@trip.package.photo.key, alt: "AI-generated image of the package destination", class:"card-simple-image" ) %>
      <% else %>
        <p> No image available for package</p>
      <% end %>
      <div class="card-simple-text p-3, mb-3">
        <%= clean_and_format_description(@trip.package.description) %>
      </div>
    </div>
  </div>
  <div class="container p-3">
    <div class="d-flex justify-content-center">
      <p>
        Get ready for an unforgettable travel experience filled with adventure,
        discovery, and moments that will stay with you forever. Whether you're exploring new cities, relaxing on a tropical beach,
        or embarking on a thrilling outdoor adventure, every journey holds the potential for incredible moments.
        Capture the sights and memories in a journal so you can relive them for years to come.
      </p>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "journal", (@trip), class:"card-simple-button"  %>
    </div>
  </div>
<% else %>
<%= turbo_stream_from "trip_#{@trip.id}_packages" %>
<div id="packages"class="packages"></div>
    <div class="trip-card">
      <h1> Trip to <%= @trip.destination.name %></h1>
      <p> Date: Starting on <%= @trip.start_date.strftime("%B %d, %Y") %> </p>
    </div>
    <%=  render "trips/packages", trip: @trip %>
  <% end %>
