<!--FIRST GET TO CHOOSE PACKAGE-->
<!--UPDATE TRIP.PACKAGE TO ASSIGN THAT PACKAGE TO THIS TRIP-->
<% if @trip.package %>
  <div class="selected-trip-heading">
    <h1> Your trip to <%= @trip.destination.name  %> begins 🧭 </h1>
    <p> You are going away for a magical <%= (@trip.end_date - @trip.start_date).to_i %> days </p>
  </div>
  <div class="selected-trip-container">
    <div id="selected-package-card" class="row">
      <div class="col-7 d-flex">
        <% if @trip.package.photo.attached? %>
          <%= cl_image_tag(@trip.package.photo.key, alt: "AI-generated image of the package destination",class:"half-width" ) %>
        <% else %>
          <%= image_tag("Italy.png", class:"half-width") %>
        <% end %>
        <div class="text-container">
          <p> <%= @trip.package.description %> </p>
        </div>
      </div>
      <div id="selected-journal-card" class="col-4">
        <div class="carousel">
          <p>
            Now is the time to savor the anticipation, to dream about the sights, sounds, and flavors ahead. But don’t let those fleeting details slip away—capture them. Let your journal be your travel companion, a place to spill your excitement, sketch the landscapes, and write down the little moments that make your adventure uniquely yours.
            Start your journey before you even step on the plane—begin journaling today!
          </p>
          <div class="d-flex justify-content-center">
            <%= link_to "journal", trip_journals_path(@trip), class:"card-simple-button"  %>
          </div>
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
            <div class="carousel-inner">
              <% @trip.photos.each_with_index do |photo,index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= cl_image_tag(photo.key) %>
              </div>
              <% end %>
              <!--<div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1533050487297-09b450131914?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRva3lvfGVufDB8fDB8fHww" class="d-block w-100" alt="tokyo-pic">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1488747279002-c8523379faaa?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="tokyo-pic2">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1605617697069-959ec9dfc9de?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fG5ldyUyMHlvcmt8ZW58MHx8MHx8fDA%3D" class="d-block w-100" alt="tokyo-pic3">
              </div>-->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="trip-card">
    <h1> Trip to <%= @trip.destination.name %></h1>
    <p> Date: Starting on <%= @trip.start_date.strftime("%B %d, %Y") %> </p>
  </div>
  <div class="trip-package-cards">
    <% @trip_packages.each do |package| %>
      <div class="trip-package-card">
        <div class="trip-package-image">
          <%=  button_to "Choose package", set_package_trip_package_path(@trip, package), class:"card-simple-button", id:"choose-package-button"%>
          <% if package.photo.attached? %>
            <%= cl_image_tag(package.photo.key, alt: "AI-generated image of the package destination" ) %>
          <% else %>
            <p> No image available for package </p>
          <% end %>
        </div>
        <div class="trip-package-details">
          <p ><%= clean_and_format_description(package.description)%></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
