
<div class="card">
<h2><%="Your trip budget is: $#{@trip.budget} " %></h2>
<p><%= "start date #{@trip.start_date}" %></p>
<p><%= "end date #{@trip.end_date}" %></p>

</div>
<h2><%= @package.name %></h2>
<p><%= @package.category %></p>
<p><%= @package.start_date %></p>
<p><%= @package.end_date %></p>
