<%= turbo_stream_from "trip_#{@trip.id}_packages" %>
<div class="container">
  <h1> Your trip to <%= @trip.destination.name  %> 🗺️ </h1>
  <h5> Embracing new challenges and stepping outside of comfort zones. Each moment adds to the adventure and creates lasting memories.
    The journey is just as important as the destination.
  </h5>
</div>
<% if @trip.package %>
  <div class="selected-trip-container">
    <div id="selected-package-card" class="row">
      <div class="col-7 d-flex">
        <% if @trip.photos.attached? %>
          <%= cl_image_tag(@trip.photos.first.key, alt: "AI-generated image of the package destination",class:"half-width" ) %>
        <% else %>
          <%= image_tag("Italy.png", class:"half-width") %>
        <% end %>
        <div class="text-container">
          <p> <%= clean_and_format_description(@trip.package.description) %> </p>
          <%#= render 'trip_photos_form', trip: @trip %>
          <%= simple_form_for(@trip) do |f| %>
            <%= f.input :photos, as: :file, input_html: {multiple: true}%>
            <%= f.submit "Add photo", class: "card-simple-button" %>
          <% end %>
        </div>
      </div>
      <div id="selected-journal-card" class="col-4 trip-journal-card">
        <div class="text-center mb-5">
          <%= link_to "journal", trip_journals_path(@trip), class:"card-simple-button"  %>
        </div>
        <div class="carousel-journal" >
          <% if @trip_journals %>
            <% @trip_journals.each do |journal| %>
              <% if journal.rich_text_content&.body.present? %>
                <div class="trip-journal-card journal-card text-center">
                  <%= link_to journal.title, journal_path(journal) %>
                  <div class="journal-text">
                    <%= journal.content %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <p>
              Now is the time to savor the anticipation, to dream about the sights, sounds, and flavors ahead. But don’t let those fleeting details slip away—capture them. Let your journal be your travel companion, a place to spill your excitement, sketch the landscapes, and write down the little moments that make your adventure uniquely yours.
              Start your journey before you even step on the plane—begin journaling today!
            </p>
          <% end %>
            <div class="space-carousel">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
                <div class="carousel-inner">
                  <% @trip.photos.each_with_index do |photo,index| %>
                    <div class="carousel-item <%= 'active' if index == 0 %>">
                      <%= cl_image_tag(photo.key, class:"d-block w-100") %>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
  <div id="trip_<%= @trip.id %>">
    <div class="trip-card">
      <div id="trip_packages">
        <%= render "trips/packages", trip: @trip %>
      </div>
    </div>
  </div>
<% end %>
