<div class="background_image">
  <h1>Bon Voyage</h1>
  <h2 class="my-5">The world is a click away</h2>
  <div class="container">
    <div class="home-form">
      <%= simple_form_for(@trip, html: { class:"trip-form"}) do |f| %>
        <h4 class="my-5">Start planning your next adventure</h4>
        <div class="form-flex">
          <h4 class="me-2">Where:</h4>
          <%= f.association :destination, collection: Destination.order(:name) , prompt: "Select Location", label: false %>
        </div>
        <div class="form-flex">
          <h4 class="mx-2">Style:</h4>
          <%= f.input :category, as: :select, collection: Trip.humanized_categories.keys, include_blank: false, label_method: lambda { |key| Trip.humanized_categories[key] }, prompt: "Select Category", label: false %>
        </div>
        <div class="form-flex">
        <h4 class="me-2">Dates:</h4>
        <%= f.input :start_date,
              as: :string,
              placeholder: "starting",
              label: false,
              input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :end_date,
              as: :string,
               label: false,
              placeholder: "ending",
              input_html: { data: { controller: "datepicker" } } %>
        </div>
        <div class="form-flex">
          <h4 class="me-2">Budget:</h4>
          <%= f.input :budget, placeholder: "$$$", label: false  %>
        </div>
        <%= f.submit class: "card-simple-button my-3" %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
