  <div class="background_image">
     <h1>Voyage</h1>
    <h1>The world is a click away</h1>
    <!--<div class= "trip-form">-->
      <%= simple_form_for(@trip, html: { class:"trip-form"}) do |f| %>
        <%= f.input :budget %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.association :destination %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    <!--</div>-->


  </div>


</div>
