  <div class="background_image">
     <h1>Voyage</h1>
    <h2 class="mb-2">The world is a click away</h2>
    <!--<div class= "trip-form">-->

    <div class="container">
      <%= simple_form_for(@trip, html: { class:"trip-form"}) do |f| %>
        <p>Start planning your next adventure</p>
        <%= f.association :destination, collection: Destination.order(:name) %>
        <%#= f.association :destination %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :category, as: :select, collection: Trip.humanized_categories.keys, include_blank: false, label_method: lambda { |key| Trip.humanized_categories[key] }, prompt: "Select Category" %>
        <%= f.input :budget, wrapper_html: { class: "form-flex"}  %>

        <%= f.submit class: "card-simple-button" %>
      <% end %>
    <!--</div>-->
    </div>


  </div>


</div>
