<!--<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <%#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--        <div class="sign-in-htm">
          <div class="group">
            <label for="email" class="label">Email</label>
            <%#= f.input :email, required: false, autofocus: true, input_html: { class: "input", id: "email" } %>-->
<!--          </div>
          <div class="group">
            <label for="password" class="label">Password</label>
            <%#= f.input :password, required: false, input_html: { class: "input", id: "password" } %>-->
<!--          </div>
          <div class="group">
            <%#= f.input :remember_me, as: :boolean, input_html: { class: "check", id: "check" } %>-->
<!--            <label for="check"><span class="icon"></span> Keep me Logged in</label>
          </div>
          <div class="group">
            <%#= f.button :submit, "Log In", class: "button" %>-->
<!--          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        </div>
      <%# end %>-->
      <%#= render "devise/shared/links" %>
<!--    </div>
  </div>
</div>

-->
<h1>Voyage</h1>
  <h2 class="my-5">The world is a click away</h2>
<div class="login-wrap">
  <div class="login-html">

    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>

    <div class="login-form">

      <div class="sign-in-html">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="group">
            <%= f.input :email, label: 'Email', required: true, input_html: { class: "input form-control bg-white", autocomplete: "email" } %>
          </div>
          <div class="group">
            <%= f.input :password, label: 'Password', required: true, input_html: { class: "input form-control bg-white", autocomplete: "current-password" } %>
          </div>
          <div class="group">
            <%= f.input :remember_me, as: :boolean, label: 'Keep me signed in' if devise_mapping.rememberable? %>
          </div>
          <div class="group">
            <%= f.button :submit, "Log In", class: "button" %>
          </div>
        <% end %>

        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="<%= new_user_password_path %>">Forgot Password?</a>
        </div>
      </div>


      <div class="sign-up-htm">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="group">
            <%= f.input :email, label: 'Email', required: true, input_html: { class: "input" } %>
          </div>
          <div class="group">
            <%= f.input :password, label: 'Password', required: true, input_html: { class: "input" } %>
          </div>
          <div class="group">
            <%= f.input :password_confirmation, label: 'Confirm Password', required: true, input_html: { class: "input" } %>
          </div>
          <div class="group">
            <%= f.button :submit, "Sign Up", class: "button" %>
          </div>
        <% end %>

        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already a member?</label>
        </div>
      </div>
    </div>
  </div>
</div>
